* {
  margin: 0;
}
@font-face {
  font-family: "Fedora";
  src: url("SF\ Fedora.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 40rem;
}
/* background: rgba(125, 34, 106, 0.9);
background: rgba(0, 0, 0, 0.8);
background: rgba(255,255,255, 0.8); */
body{
  color: white;
  font-family: "Fedora";
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main{
  position: absolute;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
}
header {
  background: rgba(125, 34, 106, 0.9);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 12;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  /* line-height: 1; */
  padding: 40px;
}

/* p{
  font-size: 30px;
  
} */
h1{
  font-size: 56px;
}
h2{
  font-size: 46px;
}
h3{
  font-size: 40px;
  margin: 3rem 0rem;
}
